* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.form-container {
    margin-top: 20px;
    width: 317px;
    height: 600px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(168, 168, 168);
    -webkit-box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    -moz-box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    position: relative;
}


form {
    margin-top: 20px;
}

div.logo{
    position: absolute;
    /* border: 1px solid; */
    background: #fff;
    border-radius: 30px;
    -webkit-box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    -moz-box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    box-shadow: -1px 0px 9px 0px rgba(102, 102, 102, 1);
    top: -34px;
}

img{
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    font-size: .95rem;
    margin: 10px 0 5px;
}

label {
    font-size: .88rem;
}

.form input {
    width: 100%;
    padding: 3px 5px;
    /* margin: 5px 0; */
    background: transparent;
    border-bottom: 1px solid #c1c1c1;
}


input.input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

#btn {
    width: 100%;
    padding: 5px;
    margin: 15px 0;
    border-radius: 6px;
    background-color: rgb(255, 72, 4);
    cursor: pointer;
}

#btn:hover{
    background-color: rgba(255, 71, 4, 0.9);
    color: #222;
    font-size: .85rem;
    transition: .35s ease-in-out;
}



.form small {
    visibility: hidden;
  }
  
  .form.error input {
    /* width: 235.02px; */
    border-bottom: 1px solid red;
  }
  
  .form.error small {
    visibility: visible;
    color: rgb(230, 5, 5);
  }
  
  .form.sucess input {
    /* width: 235.02px; */
    border-bottom: 1px solid green;
  }